[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"

[packages]
ipython = "*"
flask = "*"
fastapi = {extras = ["all"],version = "*"}
py = "*"

[requires]
python_version = "3.8"
